<div class="flex justify-center pb-15">
  <div class="add-ons-container">
    <div class="add-ons-header">
      <h2>Add Ons</h2>
    </div>
    <div class="add-ons-content">
      <div class="category">
        <div class="sub-header flex justify-between">
          <h3>Protein</h3>
          <h3>$5</h3>
        </div>
        <ul>
          <li>Steak</li>
          <li>Chicken</li>
          <li>Meatball</li>
          <li>Brisket</li>
          <li>Tendon</li>
        </ul>
      </div>
      <div class="category">
        <div class="sub-header flex justify-between">
          <h3>Veggies</h3>
          <h3>$3</h3>
        </div>
        <ul>
          <li>Broccoli</li>
          <li>Mushroom</li>
          <li>Carrots</li>
          <li>Bean Sprouts</li>
          <li>Cabbage</li>
          <li>Tofu</li>
          <li>Basil</li>
        </ul>
      </div>
    </div>
  </div>
</div>
