---
import { Image } from "astro:assets";
import logo from "../../images/logo.png";
---

<header>
  <div class="img-logo p-3">
    <Image width="300" height="300" alt={"logo"} src={logo} />
  </div>

  <div class="max-w-xl mx-auto text-center">
    <h1 class="text-orange-1000 font-medium md:text-4xl text-3xl">TRY NOW</h1>
    <p class="mt-2 text-orange-10 text-balance text-sm">
      We deliver for orders over $150 within 3 miles radius
    </p>
    <h1 class="mt-2 text-orange-1000 font-medium md:text-3xl text-2xl">
      (650) 384-6614
    </h1>
  </div>
</header>
