---

---

<button id="scrollToTopBtn" title="To Top"> &uarr; </button>

<script>
  
  const scrollToTopBtn = document.getElementById("scrollToTopBtn");

  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      scrollToTopBtn.style.display = "block";
      scrollToTopBtn.style.opacity = "1";
    } else {
      scrollToTopBtn.style.display = "none";
      scrollToTopBtn.style.opacity = "0";
    }
  }

  scrollToTopBtn.addEventListener("click", function () {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
