<footer>
  <div class="justify-center w-fit mx-auto text-center py-12">
    <p class="font-medium text-base text-orange-1000">
      405 University Ave., Palo Alto, CA 94301
    </p>
    <p class="text-sm mt-1 text-base-300">
      © 2025 Pho Banh Mi All Rights Reserved.
    </p>
  </div>
</footer>
